<?xml version="1.0"?>
<robot name="base_link_demo">

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/wjd/Desktop/temporal_AI_workspace/ros2_ws_stl_demo/src/printer_description/meshes/base_link.stl"
              scale="1 1 1"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/wjd/Desktop/temporal_AI_workspace/ros2_ws_stl_demo/src/printer_description/meshes/base_link.stl"
              scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

  <link name="z_gantry_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/wjd/Desktop/temporal_AI_workspace/ros2_ws_stl_demo/src/printer_description/meshes/z_gantry.stl"
              scale="1 1 1"/>
      </geometry>
      <material name="z_gantry_blue">
        <color rgba="0.10 0.35 0.95 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/wjd/Desktop/temporal_AI_workspace/ros2_ws_stl_demo/src/printer_description/meshes/z_gantry.stl"
              scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_to_z_gantry" type="fixed">
    <parent link="base_link"/>
    <child link="z_gantry_link"/>
    <origin xyz="0.01 26.50 267.10" rpy="0 0 0"/>
  </joint>

  <link name="x_beam_black_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/wjd/Desktop/temporal_AI_workspace/ros2_ws_stl_demo/src/printer_description/meshes/x_beam.stl"
              scale="1 1 1"/>
      </geometry>
      <material name="x_beam_black">
        <color rgba="0.02 0.02 0.02 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/wjd/Desktop/temporal_AI_workspace/ros2_ws_stl_demo/src/printer_description/meshes/x_beam.stl"
              scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

  <joint name="z_gantry_to_x_beam_black" type="fixed">
    <parent link="z_gantry_link"/>
    <child link="x_beam_black_link"/>
    <origin xyz="-389.70 228.38 40.56" rpy="0 0 0"/>
  </joint>

  <link name="toolhead_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/wjd/Desktop/temporal_AI_workspace/ros2_ws_stl_demo/src/printer_description/meshes/toolhead.stl"
              scale="1 1 1"/>
      </geometry>
  <material name="toolhead_green">
    <color rgba="0.08 0.80 0.18 1.0"/>
  </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/wjd/Desktop/temporal_AI_workspace/ros2_ws_stl_demo/src/printer_description/meshes/toolhead.stl"
              scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

  <joint name="x_beam_black_to_toolhead" type="fixed">
    <parent link="x_beam_black_link"/>
    <child link="toolhead_link"/>
    <origin xyz="218.67 -5.75 47.70" rpy="0 0 0"/>
  </joint>

</robot>
